<html>
  <head>
    <title>Kasseti TV - About</title>
    <link rel="stylesheet" type="text/css" href="/public/style.css" />
    <link rel="icon" type="image/png" href="/public/icon.png" sizes="32x32">
  </head>
  <body>
    <table width='100%' border='0' cellpadding="5px">
      <tr> 
      <td align='left' valign="top" width='20%'> &nbsp;&nbsp; <a style="text-decoration: none;" href="/"><img width="160px" height="55px" src="/public/brand.png" alt="Brand"> </a></td>    
      <td border="1px" bordercolor="#bcbcbc" align='center' width='60%'> <a style="text-decoration: none;" href="/"><font size="3" color='#0000'><strong> < &nbsp; Back Home </strong></font></a> </td>
      <td align='right' width='20%'> </td>
      </tr>
      </table>
      <strong><hr style="background-color: rgb(213, 210, 210);"></strong>
    </br>

    <table width='100%' border='0' cellpadding="5px">
    <tr> 
    <td width='20%'> </td>    
    <td>


    <h2><font size="5" color='#a24028'><strong> ABOUT </strong></font></h2>

    </br><font size="4" color='#0000'>

      Kasseti TV is a Web3 entertainment platform for hosting very short CGI Animation Films.

      <br><br>

      Every video hosted on the platform must be less than 2 minutes.

      <br><br>

      Consider Kasseti TV to be the Netflix or YouTube of short CGI Animated films.

      <br><br>

      The app is build using Theta Network Video API.

    </br></br>

    Code Repository: <a style="text-decoration: none;" href="https://github.com/VakinduPhilliam/KassetiTV"><font size="4" color='#a24028'><strong> https://github.com/VakinduPhilliam/KassetiTV </strong></font></a>

    </br></br>

    <strong><hr style="background-color: rgb(213, 210, 210);"></strong>

    <p class="copyright">&copy; <script>document.write(new Date().getFullYear());</script>, Kasseti TV

    </font>
    </td>
    <td width='20%'> </td>
  </tr>
  </table>

  </br>

  </body>
</html>

